<%= form_with(model: photo, local: true, html: { multipart: true }) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "件") %> のエラーがあります。</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル（必須）30文字以内 %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :アップロードする写真 %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
