<tr>
  <td><%= photo.title %></td>
  <td><%= I18n.l(photo.updated_at) %></td>
  <td><%= link_to image_tag(photo.picture_url, width: 300), photo if photo.picture.present? %></td>
  <td>
    <%= logged_in? ? (link_to 'Tweet', photo_twitter_create_path(photo.id)) : "Tweetする場合は、左上からログインしてください" %>
  </td>
  <td><%= link_to '詳細ページ', photo %></td>
  <td><%#= link_to 'Edit', edit_photo_path(photo) %></td>
  <td><%= link_to '削除する', photo, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
</tr>
